/* Colors */
$color-dark: #0c2461;
$color-light: #6a89cc;
$color-header: #192a56;
$color-greys-xl: #2f3640;
$color-greys-l: #353b48;
$color-greys: #a4b0be;
$color-greys-d: #747d8c;
$color-link: #5352ed;
$color-warning: #833471;
$color-warning-l: #6F1E51;
$color-success: #9980FA;
$color-success-l: #D980FA;
$color-success-xl: #FDA7DF;
$color-danger: #ff3838;
$color-danger-l: #e84118;
$color-danger-xl: #c23616;
$color-active: #27ae60;
$color-busy: #c0392b;

/* Font sizes */
$size-text: 16px;
$size-textarea: 14px;
$size-link: 15px;
$size-header: 18px;
$size-button: 17px;

/* Font weight */
$font-regular: 300;
$font-bold: 500;
$font-xbold: 700;

/* Fonts */
$font-main: 'Montserrat', sans-serif;

/* Borders */
$radius: 5px;
$border-style: 0.7px solid;

/* Transitions */
$transition: all 3s;

/* Sizes */
$single-line-height: 35px;
$padding-text: 20px;
$padding-sm: 15px;
$size-icon: 17px;
$size-icon-sm: 10px;
$size-sidebar: 190px;
$size-upper-bar: 60px;
$size-table: 620px;

/*Breakpoints */
$sm: 600px;
$mobile: 768px;
$sidebar-max: 736px;